
body {
	display: flex;
	min-width: 500px;
	min-height: 600px;
	margin: 0;
	height: 100%;
	overflow: hidden; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
	font-size: 25px;
	background-image: url("0.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
  }

  #container {
	margin: -1px;
	background-size: cover;
	background-repeat: no-repeat;
	display: block; 
	position: fixed;
	left: 2px;
	top: 0px;
	height: 100%;

  }
 
	#background {
		background: rgba(5, 4, 4, 0.4);
		padding: 3px;
		width: 100%;
		font-size: 20px;
	}
  p {
		margin: 10px;
	  color: white;
		font-size: 0.8em;
		/* text-shadow: 2px 2px grey; */
	}	
	
	button {
		margin: 5px;
    background-color: white;
    color: black;
		border: 2px solid #555555;
		border-radius: 1em
}
  #explore img {
		height: 80%;
		width: 100%;
	}
	#explore {
		height: 10%;
		width: 10%;
		background-color: transparent !important;
		border: 0px !important;
	}

	button:hover {
    background-color: #555555;
    color: white;
}
...

a {
	color: white;

}

a {
	color: white;
	text-decoration: none;
}
a, a:hover, a:active, a:visited {
	 color: white; 
	 text-decoration: none;}
.fixed-right {
  position:fixed;
  bottom:20px;
  right:20px;
}
.fixed-left {
  position:fixed;
  bottom:20px;
  right:60px;
}
.fixed-question {
	font-size: 1em;
  position:fixed;
  bottom:20px;
  right:100px;
}
.fixed-top {
  position:fixed;
  bottom:38px;
	right:50px;
}
#query {
	min-width: 500px;
	min-height: 600px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	background: rgba(138, 138, 138, 0.8);
	display: none;
	text-align:center;
}

.fixed-close {
	font-size: 1em;
  position:fixed;
  top:5px;
  right:5px;
}

#round {
	border-radius: 25px;
	border: 2px solid #609;
	padding: 20px; 
	width: 200px;
	height: 15px;    
}

#location {
  position:fixed;
  bottom: 8px;
	left: 4px;
	color: white;
	background: rgba(5, 4, 4, 0.4);
}
h1 {
	color: white;
}